body {
  min-height: 100vh;
  .zk-layout {
    .zk-header {
      background: rgb(92, 119, 238);
      color: #fff;
    }
    // .zk-content{

    // }
    
  }
  .zk-right-sider{
      background: #3A3E4A;
    }
}
