$body-background-color: #3A3E4A;
$content-background-color:   #fff;

$font-color:  rgba(255, 255, 255, 0.644);
$font-size:  13px;

$header-padding:16px 0px;
$header-high-font-color:#FF8661;

$menu-active-background-color:   #ff866146;

$button-background-color:#FF8661;